// Background color
$color-background: #fcfcfc;

// Primary Highlights
$color-primary: #00072e;
$color-primary-shade: #000628;
$color-primary-tint: #1a2043;
$color-primary-contrast: #f6f6f6;

// Secondary Highlights
$color-secondary: #109bff;
$color-secondary-shade: #36abe0;
$color-secondary-tint: #50c8ff;
$color-secondary-contrast: #f6f6f6;

// Tertiary Highlights
$color-tertiary: #b4e0ff;
$color-tertiary-shade: #9ec5e0;
$color-tertiary-tint: #bce3ff;
$color-tertiary-contrast: #090909;

// Gray Highlights
$color-gray: #b4b6c0;
$color-gray-shade: #808289;
$color-gray-tint: #9d9fa6;

// States
$color-danger: #cf2525;
$color-danger-tint: #db2626;
$color-success: #20c997;
$color-pending: #db7804;

// Typography
$color-primary-text: #090909;
$color-body-text: #68717a;
