// Background color
$color-background: #FCFCFC;

// Primary Highlights
$color-primary: #00072E;
$color-primary-shade: #000628;
$color-primary-tint: #1A2043;
$color-primary-contrast: #F6F6F6;

// Secondary Highlights
$color-secondary: #109BFF;
$color-secondary-shade: #36ABE0;
$color-secondary-tint: #50C8FF;
$color-secondary-contrast: #F6F6F6;

// Tertiary Highlights
$color-tertiary: #B4E0FF;
$color-secondary-shade: #9EC5E0;
$color-secondary-tint: #BCE3FF;
$color-secondary-contrast: #090909;

// Gray Highlights
$color-gray: #B4B6C0;
$color-gray-shade: #808289;
$color-gray-tint: #9D9FA6;

// States
$color-danger: #FF3E3E;
$color-success: #20C997;
$color-pending: #DB7804;

// Typography
$color-primary-text: #090909;
$color-body-text: #68717A;
