h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
    @media (max-width: 600px) {
        font-size: 36px;
        line-height: 48px;
    }
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    @media (max-width: 600px) {
        font-size: 22px;
        line-height: 28px;
    }
}
p body {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    @media (max-width: 600px) {
        font-size: 18px;
        line-height: 22px;
    }
}
.name-title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    @media (max-width: 600px) {
        font-size: 20px;
        line-height: 16px;
    }
}
